<footer class="footer" style="z-index:-1;">
  <div class="row">
    <div class="col-12 pt-3 px-0 px-md-3 mt-5 text-white">
      <div class="container-fluid footer-bg">
        <p class="text-justify pt-3">
          <small>Buletin Dakwah <b>KAFFAH</b>, terbit setiap Jum'at. <b>Penerbit</b>: {{ site.penerbit }}. <b>Alamat</b>: {{ site.alamat }}. <b>Marketing</b>: {{ site.marketing }}. <b>Infaq</b> Rp. 300/eks. Pemesanan minimal 100 eks.</small>
        </p>
        <hr>
        <p class="text-justify mb-0 pb-3">
          &copy; <b>{{ site.penerbit }} {{ site.time | date: '%Y' }}</b>
        </p>
      </div>
    </div>
  </div>
</footer>

{% include scripts.html %}
