/* For body text */
.text-right-arabic {
  text-align: right;
  font-size: 2.0rem !important;
  font-family: 'lpmq';
}

.text-right-arti {
  margin-bottom: 1rem !important;
}

.text-center-arabic {
  text-align: center;
  font-size: 2.0rem !important;
  font-family: 'lpmq';
}

.tanggal ul {
  list-style-type: none;
  padding-left: 0;
  text-align: left;
}

.tanggal ul li {
  list-style-position: outside;
  /* text-indent: -1.0em; */
  /* padding-left: 1.0em; */
}

/* For handle anchor */
p a {
  color: #F57215 !important;
  text-decoration: underline dotted !important;
}

a:hover {
  color: #F57215 !important;
  text-decoration: underline dotted !important;
}

a.nav-link,
a.nav-link:hover {
  color: #F57215;
  padding-right: 0;
}

a.nav-link:hover {
  text-decoration: underline dotted;
}

a.nav-link.active {
  font-weight: bold;
}

a.nav-link.active:hover {
  text-decoration: none;
}

a.card-url,
a.card-url:hover {
  color: #000;
  text-decoration: none;
}

a.card-url:hover {
  text-decoration: none !important;
}

/* For buletin */
.buletin li {
  list-style-position: inside;
  text-indent: -1.8em;
  padding-left: 1.8em;
}

.buletin li a,
.buletin li a:hover {
  color: #F57215;
}

.buletin li a:hover {
  text-decoration: underline dotted;
}

.buletin li::before {
  content: "\f15c";
  font-family: "Font Awesome 5 Free";
  padding: 0 10px 0 0;
}

/* For headings */
.isi h1 {
  font-size: 1.8rem !important;
  text-align: left;
}
.isi h2 {
  font-size: 1.4rem !important;
  text-align: left;
}
.isi h3 {
  font-size: 1.0rem !important;
  text-align: left;
}

.card-header h1 {
  margin: 0 !important;
}

h5.card-title {
  font-size: 1.0rem;
  font-weight: bold;
}

/* For page navigation */
.page-navigation {
  font-size: 1.0rem;
  display: block;
  width: auto;
  overflow: hidden;
}

/* For badge "baru" in card image Homepage */
.card-img-top {
  position: relative;
}

.card-img-top-badge {
  position: absolute;
  top: 10px;
  right: 10px;
}

/* For handle footer stay on bottom when content less than screen height */
.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.footer {
  position: absolute;
  bottom: 2.5rem;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

/* For footer */
.footer-bg {
  background-color: #F57215;
}

.footer-text,
.footer-text:hover {
  color: #ffffff !important;
  text-decoration: none !important;
}
