---
layout: page
title: Buletin
permalink: /buletin/
---

{% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
{% for year in postsByYear %}
  <div style="clear:both;" class="mt-4">
    <h2><i class="fas fa-calendar-alt"></i>&nbsp;<b>{{ year.name }}</b></h2>
  </div><!-- clear:both -->
  <div style="clear:both;" class="mb-4">
    <ul class="buletin text-left pl-0">
      {% for post in year.items %}
        <li style="list-style-type:none;">
          <a href="{{ post.baseurl }}"><b>
              <span class="col" style="padding-left:0;padding-right:0;">
                <span class="col-md-6 text-left" style="padding-left:0;padding-right:0;">
                  <span style="font-family:monospace;">{{ post.edisi }}&nbsp;{{ post.date | date: '%Y.%m.%d' }}</span>&nbsp;
                </span>
                <span class="col-md-6 text-left" style="padding-left:0;padding-right:0;">
                  <span class="text-dark">{{ post.title }}</span>
                </span>
              </span>
          </b></a>
        </li>
      {% endfor %}
    </ul>
  </div><!-- clear:both -->
{% endfor %}
<ul class="buletin text-left pl-0">
  <li style="list-style-type:none;">
    <i>Sedang dalam proses penyalinan...</i>
  </li>
</ul>
