---
layout: default
---

<div class="container my-5">
  <div class="row my-5">
    <!-- CARD -->
    <div class="col-3 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/cover/135.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- END CARD -->

    <!-- CARD -->
    <div class="col-3 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/cover/134.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- END CARD -->

    <!-- CARD -->
    <div class="col-3 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/cover/133.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- END CARD -->

    <!-- CARD -->
    <div class="col-3 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/cover/132.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- END CARD -->
  </div>

  <div class="row my-5">
    <!-- CARD -->
    <div class="col-3 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/cover/130.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- END CARD -->

    <!-- CARD -->
    <div class="col-3 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/cover/129.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- END CARD -->

    <!-- CARD -->
    <div class="col-3 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/cover/128.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- END CARD -->

    <!-- CARD -->
    <div class="col-3 d-flex justify-content-center">
      <div class="card" style="width: 20rem;">
        <img class="card-img-top" src="/assets/images/cover/127.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        </div>
      </div>
    </div>
    <!-- END CARD -->
  </div>
</div>
