---
layout: default
---

<div class="container mt-5 mb-4">
  <h1 class="text-left">{{ page.title }}</h1>
  <hr>
  <div class="tanggal mb-5">
    <i class="fas fa-calendar-alt"></i> Edisi: <b>{{ page.edisi }}</b> | <b>{{ page.datem }}</b> | <b>{{ page.dateh }} </b>
  </div>
  <div class="isi">
    <div class="text-center mb-5">
      <img src="/assets/images/cover/{{ page.edisi }}.jpg" style="height:25.5rem;min-width:100%;object-fit:cover;object-position:top;" alt="cover image">
    </div>
    {{ content }}
  </div>
  {% include page-navigation.html %}
</div>
