---
layout: default
---

<div class="container mt-3 mb-0">
  <h1 class="text-left">{{ page.title }}</h1>
  <hr>
  <div class="tanggal mb-5">
    <div class="row d-flex justify-content-between">
      <div class="col-md-9 text-md-left tanggal">
        <ul>
          <li>
            <i class="fas fa-calendar-alt"></i> Edisi: <b>{{ page.edisi }}</b> | <b>{{ page.datem }}</b> | <b>{{ page.dateh }} </b>
          </li>
        </ul>
      </div>
      <div class="col-md-3 text-md-right">
        <i class="fas fa-download"></i> <a href="{{ page.pdf }}" target="_blank">Unduh versi PDF</a>
      </div>
    </div>
  </div>
  <div class="isi">
    <div class="text-center mb-4 mb-md-5 d-flex flex-column justify-content-between">
      <img src="/assets/images/cover/{{ page.edisi }}.jpg" class="rounded" style="height:25.5rem;min-width:100%;object-fit:cover;object-position:top;" alt="cover image">
    </div>
    <div class="text-center mb-4 mb-md-4">
      <img src="/assets/images/icons/bismillah.svg" style="height:3.5rem;" alt="bismillah">
    </div>
    {{ content }}
  </div>
  {% include page-navigation.html %}
  <div class="share mt-3 mt-md-4">
    <div class="row d-flex justify-content-between">
      <div class="col-md-6 text-md-left">
        {% include share-button.html %}
      </div>
      <div class="col-md-6 text-md-right">
        {% include follow-us-button.html %}
      </div>
    </div>
  </div>
</div>
